.aston,.z4,.dawn{
    display: inline-block;
    border: 2px solid black;
    margin-top: 10%;
}
.aston{
    height: auto;
    width: 30%;
    margin-right:3%;
}
.aston img{
    width: 100%;
    display: block;
    transition: transform 1.2s;
}
.aston:hover img{
    transform: scale(1.2);
}
.z4{
    height: auto;
    width: 30%;
    margin-right:3%;
}
.z4 img{
    width: 100%;
    display: block;
    transition: transform 1.2s;
}
.z4:hover img{
    transform: scale(1.2);
}
.dawn{
    height: auto;
    width: 30%;
}
.dawn img{
    width: 100%;
    display: block;
    transition: transform 1.2s;
}
.dawn:hover img{
    transform: scale(1.2);
}