.lim{
    display: inline-block;
    border: 2px solid black;
    margin-top: 10%;
}
.lim{
    height: auto;
    width: 25%;
    margin-right:3%;
}
.lim img{
    width: 100%;
    display: block;
    transition: transform 1.2s;
}
.lim:hover img{
    transform: scale(1.2);
}